# Final missing value time series

## Interpolation methods

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
def fact(n): 
    f = 1; 
    for i in range(2, n + 1): 
        f *= i; 
    return f;

In [3]:
def fact(n): 
    f = 1; 
    for i in range(2, n + 1): 
        f *= i; 
    return f;

In [4]:
def u_cal(u, n): 
  
    temp = u; 
    for i in range(1, n): 
        temp = temp * (u - i); 
    return temp;

In [17]:
df1=pd.read_excel(r'cho_data.xlsx')
df1=df1.drop("Unnamed: 0", axis=1)

In [18]:
df1.head()

,alpha0,alpha7,alpha14,alpha21,alpha28,alpha35,alpha42,alpha49,alpha56,alpha63,alpha70,alpha77,alpha84,alpha91,alpha98,alpha105,alpha112,alpha119
0,-0.11,0.10,0.01,0.06,0.04,-0.26,0.04,0.19,-0.22,-0.20,0.12,0.21,-0.26,-0.30,0.22,0.58,-0.36,0.13
1,-0.14,-0.71,0.10,-0.32,-0.40,-0.58,0.11,0.21,0.09,0.57,-0.14,0.29,0.01,0.04,0.05,0.55,-0.08,0.33
2,-0.02,-0.48,-0.11,0.12,-0.03,0.19,0.13,0.76,0.07,0.04,-0.06,0.30,-0.47,-0.16,-0.11,0.23,-0.45,0.02
3,-0.05,-0.53,-0.47,-0.06,0.11,-0.07,0.25,0.46,0.12,0.49,-0.42,0.28,-0.30,-0.18,-0.30,0.68,-0.24,0.22
4,-0.60,-0.45,-0.13,0.35,-0.01,0.49,0.18,0.43,-0.23,-0.30,-0.24,0.23,0.04,0.09,0.18,0.16,-0.01,-0.21

In [17]:
a=np.array(df6186)

In [5]:
def matrix1(l,a,k): 
    
    x=[]
    for i in range(len(l)):
        if(l[i]==k):
            n1=i
    if(n1%2==0):
        index=1
        diff=2
    else:
        index=0
        diff=2
    ind=index
   
    while 1:
        if(index>len(l)-1):
            break
        x.append(l[index])
        index=index+diff
    n=len(x)
   # print(x)
    mat=np.zeros((a.shape[0],n))
    for i in range(int(a.shape[0])):
        mat[i]=a[i][ind::diff]
    
    return mat,n,x

In [6]:
def matrix2(l,a,k1,k2):    
    
    for i in range(len(l)):
        if(l[i]==k1):
            n1=i
        if(l[i]==k2):
            n2=i
    if((n1%2==1 and n2%2==0) or n2%2==1 and n1%2==0 ):
        if(n1%2==1):
            if((n1-1)%4==0):
                index=3
                diff=4
            else:
                index=1
                diff=4
        if(n2%2==1):
            if((n2-1)%4==0):
                index=3
                diff=4
            else:
                index=1
                diff=4
    if(n1%2==0 and n2%2==0):
        index=1
        diff=2
    if(n1%2==1 and n2%2==1):
        index=0
        diff= 2
    x=[]
    ind=index
    while 1:

        if(index>len(l)-1):
            break
        x.append(l[index])
        index=index+diff
    n=len(x)
    mat=np.zeros((a.shape[0],n))
    for i in range(int(a.shape[0])):
        mat[i]=a[i][ind::diff]
    return mat,n,x

In [7]:
def matrix3(l,a,k1,k2,k3):
   
   
    for i in range(len(l)):
        if(l[i]==k1):
            n1=i
        if(l[i]==k2):
            n2=i
    if((n1%2==1 and n2%2==0) or n2%2==1 and n1%2==0 ):
        if(n1%2==1):
            if((n1-1)%4==0):
                index=3
                diff=4
            else:
                index=1
                diff=4
        if(n2%2==1):
            if((n2-1)%4==0):
                index=3
                diff=4
            else:
                index=1
                diff=4
    if(n1%2==0 and n2%2==0):
        index=1
        diff=2
    if(n1%2==1 and n2%2==1):
        index=0
        diff= 2
    x=[]
    ind=index
    while 1:

        if(index>len(l)-1):
            break
        x.append(l[index])
        index=index+diff
    j=0
    for i  in range(len(x)):
        if(x[i]==k3):
            j=1
            if(i%2==0):
                index=1
                diff=2
            else:
                index=0
                diff=2
    x1=[] 

    if j==1:             

        l1=x

        while 1:

            if(index>len(l1)-1):
                break
            x1.append(l1[index])
            index=index+diff  
        for i in range(len(l)):
            if(l[i]==x1[0]):
                index=i
            if(l[i]==x1[1]):
                diff=i-index
        ind=index

    else:
        x1=x

    x=x1
    n=len(x)
    

    mat=np.zeros((a.shape[0],n))
    for i in range(int(a.shape[0])):
        mat[i]=a[i][ind::diff]
    return mat,n,x

In [8]:
#newton backward
def newtonbackward(mat,n,x,miss):
    l=[]
    for k in range(0,a.shape[0]):
        y_mat=np.zeros((n,n),dtype=float)
        for i in range(0,n):
             y_mat[i][0]=mat[k][i]

        for i in range(1, n): 
            for j in range(n - i,i+1): 
                y_mat[j][i] = y_mat[j][i - 1] - y_mat[j-1][i - 1]; 

        sum = y_mat[n-1][0]; 
        u = (miss- x[n-1]) / (x[1] - x[0]); 
        for i in range(1,n): 
            sum = sum + (u_cal(u, i) * y_mat[n-1][i]) / fact(i); 
        l.append(round(sum,6))
    return l

In [9]:
#newton frward
def newtonforward(mat,n,x,miss):
    l=[]
    for k in range(0,a.shape[0]):
        y_mat=np.zeros((n,n),dtype=float)
        for i in range(0,n):
             y_mat[i][0]=mat[k][i]

        for i in range(1, n): 
            for j in range(n - i): 
                y_mat[j][i] = y_mat[j + 1][i - 1] - y_mat[j][i - 1]; 

        sum = y_mat[0][0]; 
        u = (miss- x[0]) / (x[1] - x[0]); 
        for i in range(1,n): 
            sum = sum + (u_cal(u, i) * y_mat[0][i]) / fact(i); 
        l.append(round(sum,6))
    return l

In [10]:
#lagrange
def lagrange(mat,n,x,xp):
    l=[]
    for k in range (a.shape[0]):
        yp=0
        for i in range(n):

            p = 1

            for j in range(n):
                if i != j:
                    p = p * (xp - x[j])/(x[i] - x[j])

            yp = yp+p*mat[k][i]  

        l.append(yp) 
    return l

In [11]:
def nrmse2(miss,l,l1):    
    rmsl=[]
    for i in range(0,a.shape[0]):
        rmsl.append((a[i,l1.index(miss)]-l[i])**2)
    sumrmse=np.sum(rmsl)
    sqrrmse=sumrmse**(1/2)
    rmse=sqrrmse/(a.shape[0]**(1/2))
    m=np.max(a[0:,l1.index(miss)])-np.min(a[0:,l1.index(miss)])
   
    nrmse=rmse/m
    return nrmse

In [12]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]

In [110]:
l1=[]
l2=[]
cols=3
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
pivot1=int(len(l)/3)
pivot2=2*pivot1
if(cols==1):
    k=90
    print("The missing value is  ",k)
    mat,n,x=matrix1(l,a,k)
    if(l.index(k)<pivot1):
        l1=newtonforward(mat,n,x,k)
        print("nf")
        nrmse=nrmse2(k,l1,l)
        print(nrmse)
    elif(l.index(k)<pivot2):
        l1=lagrange(mat,n,x,k)
        print("lag")
        nrmse=nrmse2(k,l1,l)
        print(nrmse)
    else:
        l1=newtonbackward(mat,n,x,k)
        print("nbf")
        nrmse=nrmse2(k,l1,l)
        print(nrmse)
if(cols==2):
    k1,k2=20,45
    print(k1,k2)

    mat,n,x=matrix2(l,a,k1,k2)
    if(l.index(k1)<pivot1):
        l1=newtonforward(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        
        print(nrmse)
        
    elif(l.index(k1)<pivot2):
        l1=lagrange(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        print(nrmse)
    else:
        l1=newtonbackward(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        print(nrmse)
    if(l.index(k2)<pivot1):
        l2=newtonforward(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)

    elif(l.index(k2)<pivot2):
        l2=lagrange(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)
       
    else:
        l2=newtonbackward(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)
        
if(cols==3):
    k1,k2,k3=10,45,60
    print(k1,k2,k3)

    mat,n,x=matrix3(l,a,k1,k2,k3)
    if(l.index(k1)<pivot1):
        l1=newtonforward(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        print(nrmse)
       
    elif(l.index(k1)<pivot2):
        l1=newtonbackward(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        print(nrmse)
        
    else:
        l1=lagrange(mat,n,x,k1)
        nrmse=nrmse2(k1,l1,l)
        print(nrmse)
    if(l.index(k2)<pivot1):
        l2=newtonforward(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)
       
    elif(l.index(k2)<pivot2):
        l2=newtonbackward(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)
        
    else:
        l2=lagrange(mat,n,x,k2)
        nrmse=nrmse2(k2,l2,l)
        print(nrmse)
    if(l.index(k3)<pivot1):
        l3=newtonforward(mat,n,x,k3)
        nrmse=nrmse2(k3,l3,l)
        print(nrmse)
       
    elif(l.index(k3)<pivot2):
        l3=newtonbackward(mat,n,x,k3)
        nrmse=nrmse2(k3,l3,l)
        print(nrmse)
        
    else:
        l3=lagrange(mat,n,x,k3)
        nrmse=nrmse2(k3,l3,l)
        print(nrmse)

10 45 60
0.042629658340003665
0.03772902399598654
0.028591391537671523

### Classification accuracy

In [ ]:
target=np.random.randint(high=2,low=0,size=len(df1))

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import OneClassSVM

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

In [82]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#case1 1 column missing
from sklearn.svm import SVC;
from sklearn.metrics import accuracy_score
df2=df1.copy()

In [111]:
def onecolmissclassificationaccuracy(column,df1):
    from sklearn.metrics import f1_score
    df1.drop(df1.columns[column],axis=1,inplace=True)
    from sklearn.model_selection import train_test_split
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf = LogisticRegression()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    # accuracy when columns are actually missing
    print(accuracy_score(Ytest,predicted))
    predcol=l1
    df1[column]=predcol
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf = LogisticRegression()
    clf=clf.fit(Xtrain,Ytrain)
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))
    print(f1_score(Ytest,predicted))

In [ ]:
def twocolmissclassificationaccuracy(column,df1):
    
    df1.drop(df1.columns[column],axis=1,inplace=True)
    from sklearn.model_selection import train_test_split
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf=MLPClassifier(random_state=1, max_iter=300)
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    # accuracy when columns are actually missing
    print(accuracy_score(Ytest,predicted))
   
    df1[column[0]]=l1
    df1[column[1]]=l2
    Xtrain,Xtest=MLPClassifier(random_state=1, max_iter=300)
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))

In [ ]:
def threecolmissclassificationaccuracy():
    column=["alpha21","alpha28","alpha35"]
    df1.drop(column,axis=1,inplace=True)
    from sklearn.model_selection import train_test_split
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf=SVC()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    # accuracy when columns are actually missing
    print(accuracy_score(Ytest,predicted))
    df1[column[0]]=l1
    df1[column[1]]=l2
    df1[column[2]]=l3
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf=SVC()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))

In [ ]:
onecolmissclassificationaccuracy(18,df6186)

# Extrapolation

In [ ]:
def extrapolate1col(dffinal ,cols,pred_col):
    from statsmodels.tsa.ar_model import AutoReg
    from sklearn.metrics import mean_squared_error
    
    from math import sqrt
    l=[]
    n=len(dffinal.columns)
    pred=[]
    
    
    for i in range(len(dffinal)):
        train=dffinal.iloc[i].values[0:cols]
        test=dffinal.iloc[i].values[cols:]
       
        #print(test[pred_col-1-cols])
        model = AutoReg(train,lags=0)
        model_fit = model.fit()
        predictions = model_fit.predict(start=len(train), end=len(train)+len(test)-1, dynamic=False)
        #print(predictions[pred_col-1-cols])
        pred.append(predictions[pred_col-1-cols])
        rmse = sqrt(mean_squared_error([test[pred_col-1-cols]], [predictions[pred_col-1-cols]]))
        nrmse=rmse/(max(train)-min(train))
        l.append(rmse)
    #print(test[pred_col-1-cols])
    return np.mean(l),pred

In [103]:
mean,p=extrapolate1col(dfgse3406,3,4)

In [104]:
mean

0.781600494739533

In [21]:
ex1=ex2=0
def extrapolate2col(dffinal ,cols,pred_col):
    ex1,p1=extrapolate1col(dffinal ,cols,pred_col[0])
    ex2,p2=extrapolate1col(dffinal ,cols,pred_col[1])
    return (ex1+ex2)/2,p1,p2

In [ ]:
nrmse,p1,p2=extrapolate2col(df1,15,[16,18]);

In [ ]:
df1.columns

In [125]:
def onecolmissclassificationaccuracyex(df1,cols,columnindex,target):
    from sklearn.svm import SVC;
    from sklearn.metrics import f1_score
    from sklearn.metrics import accuracy_score
    ex,l1=extrapolate1col(df1,cols,columnindex)
    column=df1.columns[columnindex-1];
    df1.drop(column,axis=1,inplace=True)
    from sklearn.model_selection import train_test_split
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf= DecisionTreeClassifier()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    # accuracy when columns are actually missing
    print(accuracy_score(Ytest,predicted))
    predcol=l1
    df1[column]=predcol
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf = DecisionTreeClassifier()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))
    print(f1_score(Ytest,predicted,average="micro"))

In [ ]:
def twocolmissclassificationaccuracyex(df1,cols,columnindex,target):
    from sklearn.svm import SVC;
    from sklearn.metrics import accuracy_score
    ex,l1,l2=extrapolate2col(df1,cols,columnindex)
    column=[0,0]
    column[0]=df1.columns[columnindex[0]-1];
    column[1]=df1.columns[columnindex[1]-1];
    df1.drop(column,axis=1,inplace=True)
    from sklearn.model_selection import train_test_split
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf =LogisticRegression()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    # accuracy when columns are actually missing
    print(accuracy_score(Ytest,predicted))
    predcol1=l1
    predcol2=l2
    df1[column[0]]=predcol1
    df1[column[1]]=predcol2
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf = LogisticRegression()
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))

In [ ]:
onecolmissclassificationaccuracyex(df6186,15,18,target)

In [86]:
df6186=pd.read_excel("6186 finalfinal.xlsx")

In [87]:
df6186.head(10)

,ID_REF,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,target
0,KP=KP00013-429,1.1252,1.1305,0.5296,0.5898,0.3614,0.1353,-0.0120,0.2066,0.1579,...,0.6471,0.3088,0.3494,0.2104,0.5150,0.1257,0.4085,0.2404,0.0496,1
1,KP=KP00054-259,-1.4435,-0.9876,-1.0598,-0.9490,-0.9565,-0.6705,-0.5152,-0.5536,-0.4854,...,-0.9442,-1.1966,-0.9610,-1.0499,-1.0448,-1.1887,-1.0883,-1.1047,-1.2888,2
2,KP=KP00055-374,0.3991,0.1695,-0.5008,-0.3099,-0.2476,0.0694,0.0186,0.2746,-0.2014,...,-0.5084,-0.3902,-0.4377,-0.5140,0.0621,-0.5437,-0.2545,-0.3603,-0.4765,1
3,KP=KP00057-750,-1.4176,-1.0125,-0.7162,-0.4826,-0.5515,-0.4546,-0.5243,-0.4725,-0.3789,...,0.2008,0.7579,0.9413,0.8618,1.1395,0.5089,0.7835,0.7418,0.5785,3
4,KP=KP00064-678,-1.5009,-1.2619,-0.9980,-0.5685,-1.0233,-0.9490,-0.6387,-0.6536,-0.6834,...,0.0272,0.5341,1.6082,1.5808,2.1221,0.0786,0.1194,0.3053,-0.3646,2
5,KP=KP00065-750,-1.4189,-0.9554,-0.9359,-0.3935,-0.5422,-0.7668,-0.5901,-0.6712,-0.6038,...,-0.6728,-0.7909,0.0191,1.0575,0.6846,0.7060,0.6520,0.6708,0.6783,3
6,KP=KP00066-241,-1.6866,-0.8625,-0.6620,0.1074,0.3704,0.5015,0.0154,0.2794,-0.5228,...,-0.9574,-0.9518,-0.8160,-0.7483,-0.8347,-0.6751,-0.9214,-0.7155,-1.1140,2
7,KP=KP00068-466,-0.7925,0.4650,0.0768,0.8370,1.6833,1.7397,1.6859,1.2736,0.8440,...,-0.5698,-1.1275,-1.0183,-0.7532,-1.1681,-1.0841,-0.9168,-0.8943,-1.2944,2
8,KP=KP00070-750,-0.5215,-0.3622,-0.6866,-0.3808,-0.2624,0.3315,0.6587,0.4909,0.4584,...,0.0556,-0.4673,-0.3664,-0.2868,-0.4719,-0.5146,-0.4580,-0.4442,-0.4175,2
9,KP=KP00071-750,-2.8194,-2.3097,-2.0571,-1.8024,-2.5934,-2.1956,-1.6883,-1.7452,-1.9362,...,-0.6636,-0.2210,0.0257,-0.3908,-0.1839,-0.3201,-0.2775,-0.2886,-0.2770,3

In [88]:
df6186.drop("ID_REF", axis=1,inplace=True)     # only run on initial launch

In [89]:
target=df6186.target;
df6186.drop("target", axis=1,inplace=True)

In [18]:
mean,pred=extrapolate1col(df6186,21,22)

In [19]:
mean

0.6555908495797385

In [24]:
mean2,pred2a,pred2b=extrapolate2col(df6186,20,[21,22])

In [25]:
mean2

0.7001771554888221

In [126]:
onecolmissclassificationaccuracyex(df6186,14,16,target)

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

0.86
0.875
0.875

In [ ]:
#patient

In [181]:
dfpat=pd.read_excel("patients.xlsx");

In [182]:
dfpat.head()

  target       ID Time      feature
0   good  1254729   t0  5048.689817
1   good  1254729   t3  6348.158295
2   good  1254729   t6  6400.479900
3   good  1254729   t9  5013.432324
4   good  1254729  t12  6020.225222

In [183]:
dfpat.isnull().sum()

target     0
ID         0
Time       0
feature    0
dtype: int64

In [184]:
dft0=dfpat[dfpat["Time"]=="t0"]
dft0list=dft0["feature"].tolist()

In [185]:
target=dft0["target"].tolist()

In [186]:
dft3=dfpat[dfpat["Time"]=="t3"]
dft3list=dft3["feature"].tolist()

In [187]:
dft6=dfpat[dfpat["Time"]=="t6"]
dft6list=dft6["feature"].tolist()

In [188]:
dft9=dfpat[dfpat["Time"]=="t9"]
dft9list=dft9["feature"].tolist()

In [189]:
dft12=dfpat[dfpat["Time"]=="t12"]
dft12list=dft12["feature"].tolist()

In [190]:
dict={0:dft0list,3:dft3list,6:dft6list,9:dft9list,12:dft12list,"target":target}

In [191]:
dfpatfinal=pd.DataFrame(dict)

In [192]:
len(dft0list)

40

In [193]:
len(dft3list)

40

In [194]:
len(dft6list)

40

In [195]:
len(dft9list)

40

In [196]:
len(dft12list)

40

In [197]:
len(target)

40

In [198]:
dfpatfinal.head()

             0            3            6            9           12 target
0  5048.689817  6348.158295  6400.479900  5013.432324  6020.225222   good
1  5357.149106  5374.803537  7936.740482  4043.214872  6114.176275   good
2  3283.819600  4475.749468  5001.228025  6606.583594  6718.768285   good
3  2306.886083  3618.618971  3327.837436  6413.826145  4493.111619   good
4  2232.509036  4933.995077  5899.606295  5630.969661  5321.601233   good

In [199]:
dfpatfinal.target=dfpatfinal["target"].map({"good":1,"bad":0})
target=dfpatfinal.target
dfpatfinal.drop("target",axis=1,inplace=True)

In [ ]:
twocolmissclassificationaccuracyex(dfpatfinal,3,[4,5],target)

In [55]:
mean,pa=extrapolate1col(dfgse3406,3,4)

In [56]:
mean

0.781600494739533

In [89]:
mean,pa,pb=extrapolate2col(df6186,2,[3,4])

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: RuntimeWarning: divide by zero encountered in double_scalars

In [91]:
mean

inf

In [ ]:
l2

In [ ]:
predcol1

In [ ]:
from sklearn.svm import SVC;

In [ ]:
from sklearn.model_selection import train_test_split
dfgse3406=dfgse3406.sample(frac=1)
Xtrain,Xtest,Ytrain,Ytest=train_test_split(dfgse3406,target,test_size=0.2)
clf =MLPClassifier()
clf.fit(Xtrain,Ytrain)
predicted=clf.predict(Xtest)
print(accuracy_score(Ytest,predicted))

In [ ]:
# GSE3406

In [201]:
dfgse3406=pd.read_excel("GSE3406.xlsx")

In [202]:
dfgse3406.drop("Unnamed: 0",axis=1,inplace=True)

In [213]:
dfgse3406.head()

         10        20        30        45        60        90
0 -0.739640 -0.938866 -1.666025 -0.767665 -1.028049 -0.548723
1 -0.048194 -0.738372 -1.649465 -0.529989 -0.741505 -0.295997
2 -0.950774 -0.309740 -0.688444 -0.215252 -0.541053 -0.371601
3 -0.194746  0.080610 -0.889706 -0.075011 -0.269713 -0.181402
4 -0.956528 -0.314499 -0.473260 -0.509247 -0.563383 -0.170839

In [214]:
dfgse3406.dropna(inplace=True)
target=dfgse3406.target
dfgse3406.drop("target",axis=1,inplace=True)

AttributeError: 'DataFrame' object has no attribute 'target'

In [215]:
onecolmissclassificationaccuracyexalternate(dfgse3406,4,5,target)

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.43558282208588955
0.43558282208588955

In [208]:
def onecolmissclassificationaccuracyexalternate(df1,cols,columnindex,target):
    from sklearn.svm import SVC;
    from sklearn.metrics import f1_score
    from sklearn.metrics import accuracy_score
    ex,l1=extrapolate1col(df1,cols,columnindex)
    column=df1.columns[columnindex-1];
    from sklearn.model_selection import train_test_split
    predcol=l1
    df1[column]=predcol
    Xtrain,Xtest,Ytrain,Ytest=train_test_split(df1,target,test_size=0.2)
    clf =SVC();
    clf.fit(Xtrain,Ytrain)
    predicted=clf.predict(Xtest)
    #accuracy after predicted column inserted to the dataset
    print(accuracy_score(Ytest,predicted))
    print(f1_score(Ytest,predicted,average="micro"))

In [200]:
onecolmissclassificationaccuracyexalternate(dfpatfinal,4,5,target)

0.5
0.5

C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)
C:\Users\ABHISHEK PAUL\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:749: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y = np.array(y > threshold, dtype=np.int)

In [90]:
from sklearn.linear_model import LogisticRegression